body {
    background-color:rgb(33, 2, 33) ;
    color: white;
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Rubik Doodle Shadow;
}

p{
    margin-top: 100px;
    margin-left: 5px;
}

button {
    margin-top: 500px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(33, 2, 33);
    color: white;
    text-align: center;
    height: 70px;
    font-family: Rubik Doodle Shadow;
    border: none;
    font-size: 25px;
}
